@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --black: #0c0c0c;
    --dark-blue: #0437da;
    --green: #13a10e;
    --aqua: #3a96dd;
    --bordeaux: #c50f1f;
    --purple: #881784;
    --olive: #c19c00;
    --light-grey: #cccccc;
    --grey: #767676;
    --blue: #3b78ff;
    --lime: #16c60c;
    --light-blue: #61d6d6;
    --red: #e74856;
    --magenta: #ea08ce;
    --yellow: #f9f1a5;
    --white: #f2f2f2;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    font-family: "Consolas", sans-serif;

    --text-color: var(--text);
    --background-color: var(--background);

    scrollbar-width: auto;
    scrollbar-color: var(--text-color) var(--background-color);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--background-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-radius: 10px;
    border: 3px solid var(--background-color);
}

@import url("http://fonts.cdnfonts.com/css/cascadia-mono");

::selection {
    color: var(--background-color);
    background: var(--text-color);
}

#root {
    min-height: 100vh;

    color: var(--text-color);
    background-color: var(--background-color);
}

.row span {
    color: var(--background-color);
}

#input {
    background-color: var(--background-color);
    outline: none;
    caret-color: transparent;
    flex: 1;
}

#caret {
    width: 1ch;
    height: 1em;

    position: absolute;
    top: 50%;
    right: calc((var(--chars) * -1ch) - 2ch);

    transform: translateY(-50%);
}

#caret:not(.blink) {
    background: var(--text-color);
    color: var(--background-color);

    mix-blend-mode: difference;
}

.blink {
    opacity: 0;
    background: linear-gradient(
        to bottom,
        var(--background-color) 0% 80%,
        var(--text-color) 80%
    ) !important;
    animation: blink 1s linear infinite;
}

@keyframes blink {
    50% {
        opacity: 1;
    }
}

#output:empty {
    display: none;
}
