@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --black: #0c0c0c;
    --dark-blue: #0437da;
    --green: #13a10e;
    --aqua: #3a96dd;
    --bordeaux: #c50f1f;
    --purple: #881784;
    --olive: #c19c00;
    --light-grey: #cccccc;
    --grey: #767676;
    --blue: #3b78ff;
    --lime: #16c60c;
    --light-blue: #61d6d6;
    --red: #e74856;
    --magenta: #ea08ce;
    --yellow: #f9f1a5;
    --white: #f2f2f2;
}

@import url("http://fonts.cdnfonts.com/css/cascadia-mono");

* {
    font-family: "Consolas", sans-serif;
}

::selection {
    color: black;
    background: white;
}

#root {
    min-height: 100vh;

    color: white;
    background-color: black;
}

#input {
    background-color: black;
    outline: none;
    caret-color: transparent;
}

#caret {
    width: 1ch;
    height: 1em;

    background: linear-gradient(to bottom, black 0% 80%, white 80%);

    position: absolute;
    top: 50%;
    right: calc((var(--chars) * -1ch) - 0.25em - 1ch);

    transform: translateY(-50%);
}

.blink {
    opacity: 0;
    background: white !important;
    animation: blink 1s linear infinite;
}

@keyframes blink {
    50% {
        opacity: 1;
    }
}
