@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    min-height: 100vh;
}

:root {
    --black: #0c0c0c;
    --dark-blue: #0437da;
    --green: #13a10e;
    --aqua: #3a96dd;
    --bordeaux: #c50f1f;
    --purple: #881784;
    --olive: #c19c00;
    --light-grey: #cccccc;
    --grey: #767676;
    --blue: #3b78ff;
    --lime: #16c60c;
    --light-blue: #61d6d6;
    --red: #e74856;
    --magenta: #ea08ce;
    --yellow: #f9f1a5;
    --white: #f2f2f2;
}
